FORMAT: 1A
HOST: https://api.serviceurl.in/ekyc-api/aua

# AMHI eKYC Collection Production
# Introduction

AADHAAR eKYC and Authentication - Softcell Offers platform to integrate services published by UIDAI. The APIs are for registered AUA KUA with UIDAI and who are availing Softcell AUA Module.



# Overview

All the APIs are following standard REST protocol with internal authentication and JSON as input as well as JSON as output. All APIs are accessible with HTTPS only. 



# Authentication

The Authentication has been implemneted internally with header parameters of institution ID, User name and Password. 



# Error Codes

APIs will be returning success or error in status along with specific error descriptions. UIDAI error codes along with UIDAI specific descriptions are also returned in the response to ease the integration at client side.

# Group Misc

## Authentication [/authentication]

### Authentication API 2.5  AMHI [POST]
https://ssguat.serviceurl.in/ekyc-api/aua/kua-service/authentication

+ Request (application/json)
    + Headers

            institutionId:4023
            aggregatorId:559
            memberId:cpu_user_kyc@apollomunichinsurance.com
            password:Z3kwcT9HWCQ=

    + Attributes (Authentication API 2.5  AMHIRequest)

    + Body

            {
                "auaCode": "0003080000",
                "subAuaCode": "0003080000",
                "aadharNumber": "924603845503",
                "licenseKey": "MPayPwkhHNSpgiHeZSB2dNkio_NJTElXSHWfFUZxi8gsvOMFaObWhQc",
                "terminalId": "",
                "transactionIdentifier": "AMHI:12345673413434",
                "uses": {
                    "pi": "y",
                    "pa": "y",
                    "pfa": "n",
                    "bio": "n",
                    "pin": "n",
                    "otp": "n"
                },
                "rc": "Y",
                "metaData": {
                    "rdsId": "",
                    "rdsVer": "",
                    "dpId": "",
                    "dc": "",
                    "mi": "",
                    "mc": ""
                },
                "version": "2.5",
                "personalIdentityData": {
                    "timeStamp": "\"2018-07-02T19:34:01\"",
                    "version": "2.0",
                    "wadh": "",
                    "demographicDetails": {
                        "lang": "null",
                        "personalIdentity": {
                            "matchStrategy": "E",
                            "matchValue": "100",
                            "name": "NIKHIL SANJAY NARKHEDKAR",
                            "lname": "null",
                            "lmv": "null",
                            "gender": "M",
                            "dateOfBirth": "1989-04-24",
                            "dateOfBirthType": "null",
                            "age": "null",
                            "phone": "null",
                            "email": "null"
                        },
                        "personalAddress": {
                            "matchStrategy": "E",
                            "careOf": "null",
                            "houseNo": "null",
                            "street": "null",
                            "landMark": "null",
                            "location": "null",
                            "villageTownCity": "null",
                            "subDist": "null",
                            "dist": "null",
                            "state": "null",
                            "country": "null",
                            "postalCode": "411061",
                            "postOffice": "null"
                        },
                        "personalFullAddress": {
                            "matchStrategy": "null",
                            "matchValue": "null",
                            "addressValue": "null",
                            "lav": "null",
                            "lmv": "null"
                        }
                    }
                }
            }


+ Response 200 




## Kyc [/kyc]

### OTP eKYC 2.5 .  AMHI [POST]
https://ssguat.serviceurl.in/ekyc-api/aua/kyc

+ Request (application/json)
    + Headers

            institutionId:4023
            aggregatorId:559
            memberId:cpu_user_kyc@apollomunichinsurance.com
            password:Z3kwcT9HWCQ=

    + Attributes (OTP eKYC 2.5 .  AMHIRequest)

    + Body

            {
                "auaCode": "0003080000",
                "subAuaCode": "0003080000",
                "aadharNumber": "9194608999019300",
                "licenseKey": "MPayPwkhHNSpgiHeZSB2dNkio_NJTElXSHWfFUZxi8gsvOMFaObWhQc",
                "transactionIdentifier": "UKC:AMHI:99909012",
                "terminalId": "",
                "type": "V",
                "uses": {
                    "pi": "n",
                    "pa": "n",
                    "pfa": "n",
                    "bio": "n",
                    "pin": "n",
                    "otp": "y"
                },
                "rc": "Y",
                "metaData": {
                    "rdsId": "",
                    "rdsVer": "",
                    "dpId": "",
                    "dc": "",
                    "mi": "",
                    "mc": ""
                },
                "version": "2.5",
                "personalIdentityData": {
                    "timeStamp": "2018-07-03T07:33:01",
                    "version": "2.0",
                    "wadh": "",
                    "pinValue": {
                        "otp": "677702"
                    }
                },
                "kycAttributes": {
                    "ver": "2.5",
                    "ra": "O",
                    "rc": "Y",
                    "lr": "N",
                    "de": "Y",
                    "pfr": "N"
                }
            }


+ Response 200 




## Bio Kyc [/bio-kyc]

### Biometric eKYC  Apollo Munich [POST]
https://ssguat.serviceurl.in/ekyc-api/aua/bio-kyc

+ Request (application/json)
    + Headers

            institutionId:4023
            aggregatorId:559
            memberId:cpu_user_kyc@apollomunichinsurance.com
            password:Z3kwcT9HWCQ=

    + Attributes (Biometric eKYC  Apollo MunichRequest)

    + Body

            {
                "auaCode": "0003080000",
                "subAuaCode": "0003080000",
                "aadharNumber": "924603845503",
                "licenseKey": "MPayPwkhHNSpgiHeZSB2dNkio_NJTElXSHWfFUZxi8gsvOMFaObWhQc",
                "transactionIdentifier": "UKC:AMHI:77777",
                "type": "A",
                "terminalId": "registered",
                "uses": {
                    "pi": "n",
                    "pa": "n",
                    "pfa": "n",
                    "bio": "y",
                    "pin": "n",
                    "otp": "n",
                    "bt": "FMR"
                },
                "rc": "Y",
                "metaData": {
                    "rdsId": "PRECISION.WIN.001",
                    "rdsVer": "1.2.0",
                    "dpId": "PRECISION.PB",
                    "dc": "0ffb4ef6-a3a3-477d-a2d0-6d359931e183",
                    "mi": "PB510",
                    "mc": "MIID5jCCAs6gAwIBAgIISe07Dj5xW+EwDQYJKoZIhvcNAQELBQAwgdgxNzA1BgNVBAMTLkRTIFByZWNpc2lvbiBCaW9tZXRyaWMgSW5kaWEgUHJpdmF0ZSBMaW1pdGVkIDExIzAhBgNVBDMTGjIyIEhhYmlidWxsYWggUm9hZCBUIE5hZ2FyMRAwDgYDVQQJEwdDaGVubmFpMRIwEAYDVQQIEwlUYW1pbG5hZHUxETAPBgNVBAsTCFNvZnR3YXJlMTIwMAYDVQQKEylQcmVjaXNpb24gQmlvbWV0cmljIEluZGlhIFByaXZhdGUgTGltaXRlZDELMAkGA1UEBhMCSU4wHhcNMTgwNjI1MTMxNTE5WhcNMTgwNzI1MTMxNTE5WjBQMRQwEgYDVQQKDAtQUkVDSVNJT05SRDESMBAGA1UEAwwJUHJlY2lzaW9uMRAwDgYDVQQHDAdDSEVOTkFJMRIwEAYDVQQLDAlCaW9tZXRyaWMwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQC2UqKdGdbQMIxq4KjPj2syM4PFDX13SQlXWGRIJS9/d4hYuRBrvv+WJ643dZYauCGtMtNE3jiR270uz1ckfARTGC7E164LxyQLaDKzBrlkBu+7RJu+c8l8d9L8z6Ep97nTZKKxZ4llCkzO/Jfc/cK+/Ou19JWBny7A7yS50OFNJHD3IXaYm8C31chaxd7Jja1YNpeUA5ogmTBbMyDRvcLebf0TEOzF9CH3zaeCUMarVadRvKbTFM4y4Lsos6ReOOpP/gUKl8zui++RGONNfjc8BsAfqUC8+85ZLeex6pco3ThUv3+CTH32VDEkqkFRUTLE33mgNrtC726YZHREwLqJAgMBAAGjOzA5MAkGA1UdEwQCMAAwCwYDVR0PBAQDAgGGMB8GA1UdIwQYMBaAFLU1sKRXC/kwcet03DIXvSIfcyhnMA0GCSqGSIb3DQEBCwUAA4IBAQAnI3Rg97rISqndI4n0R6gYj/PPlYuW0xPWxQCHyyg8SVzVUgs6oez7Doy+OY2v4xqcFyIMn+aPt/PUuWSSfVHv5SCzoq8AQPs8IQ7tdWEj89cbMYF3qn/F9fOT5Ddt4n34qJwNwR7H62FIlS8YSMFxtS2nWoG/67Kqf7E0tY47ol0AB3Ovobjwn5+bWnPAcGaL7thUh64ixttVBA5YpDZhbvmlmCfkvdzMly8aKj4Myc/NQf7XRqYHlmPqZJ38Z+qIu4djEke6jueeJ8cjHFdaisKDV5dVhaUPwK3GkTSCVlLIHFubZ+Lvn0oVqlQw6QQdAskETLOJ221W8TFZGCNN"
                },
                "version": "2.5",
                "hmac": "oLv93YLGClweyUo0JFitYKyHUIL2pGHFGs15f7lgIrRjeKa6/rHxIpGb5j/KQfJD",
                "skey": {
                    "ci": "20201030",
                    "value": "DQ7vZiVID8N2v8uqebIAUTL/ywzMdapshP/I9U9A4fAhfc1x4I2Ycf8qp/f63qHicnuegVWEeW/ZdvD2EUUdciMPdbBTCJ4ArOOdgr43UaSMfzWht0UAsO/bk4+RL+6eIAsSQph/hdqnIT+ng2zS6QRqBhYpoLPFWWIwv3cQgnDa2gp5HiPUGsZCVd4i5ZpJx8osMyf6YF8GpfIfpvuiR+bXVzL8MMyF378rml9RIx9jZeGGB9uhALcHzIL30Q6PBCtUbF74DJMEMGkzbUkst+qbkMdlnGQqOIQ4NF7Ul1Qb6I80z7FXBUNsH4mtUMwQERGu7MYO0C2ri4mweNdokQ=="
                },
                "data": {
                    "type": "X",
                    "value": "MjAxOC0wNi0yNlQxMzowNjozMGFZcS5sJvsVV1ocqcQ2ovlopi/8/gdgub0Y1IQ1djSPnf1k8bTsuQ+KLU6Qkdr4iFOS7lUmGuDOm8THcceFRaU7k/Fy6F59uPBIars/hWBF+Waif4deJB07YFUX3+v6FppKrRXPAX+n5SWUf6ldU1eyP1bP1IZcoA/Ohy5CuEJdxP+nvfz+qq9nKsS7u15/54Gbjc/W9rP37eRDM6n87TXldpxEXOkC14WRq92Wn0VzWlHz6l6xaHkqynXXoxUyJzA34qKJtn21uspJZnX7nnFNdJdk75OXWt4oXgZq9NOmDWRApUimHLnKcO0RzquY4V3E/NWIzBY3s9eiBZjd+pc3GTNBmupr9YAa3eqjRB0VwtxKzXcsqPryWUkPb3XqIukyZp6dwPtHMwit70GzelGzsC1eL0ufrsIRh3L6d74az0kyOUh+Cjyq0oYaaVtWVR0L9zzoKZ7OyQE9yV6dVe1lzLVGUUosatzQF7tT7b3SB7jZXJd1sJpma1CQeK9QQk8FSwLeEFRrScuOVkMciwlNEcooCuOrUvT5biXRT8lpdA8r/aKh3iLw9tFwFaY6vAyasVHOKICfZUVj3XFNuq4SFsbw4WfuY0P1C/dxC0B8WKLcjxw6hreEqJ3gj0JOCXN6Pk5McwwYY+1W8nkFkTpNOqJJvFzlVhjNTSKCGtzkQi/n6TZGY8XEdopc+0b6JPAlyWSmXtzkclm1Nqe7/oWgzP24wLf8enu34/wjBfDDunSEdoz7IQNmqn2lGGhY/b0wXVG/+7fxa2D8y+P9htjVpFuWfhfw11I7ylG6md3+HSIp4jMkEiVzEA1rvciAQrp9sjZAEpr/GfluNfqFY0VaGRzCREWy/4QWB/e1hAnmxpsjmSUvbr/QdZoC6YRvHcnN1d8pX85adqoidLI9FwSpaenpGUEjL+WAhKPAhjzDEfE66TYyVBZhLyiKRt8ZZMVzqaqAInRXdIPaTDMWNH7fUrip1bjPmGdZAEy4H81mtSLO7YhaG46R1SIZu/8XPi5kEXZnLz9IANMWc+oTcTW8wPa13mzhmK9GVu8H5D1UqLe8QP01NrFQBvZzPDy5hwLIQabEJLzCSHTd7opaUU2KkdThSbyE5C5G4lUpZMRaSGhfowymFxoZTanjyhdhJ1keodsjE4XTnuOYpCxnhg=="
                },
                "kycAttributes": {
                    "ver": "2.5",
                    "ra": "F",
                    "rc": "Y",
                    "lr": "N",
                    "de": "Y",
                    "pfr": "N"
                }
            }


+ Response 200 




## Otp [/otp]

### Get OTP 2.5  Apollo Munich [POST]
https://ssguat.serviceurl.in/ekyc-api/aua/otp

+ Request (application/json)
    + Headers

            institutionId:4023
            aggregatorId:559
            memberId:cpu_user_kyc@apollomunichinsurance.com
            password:Z3kwcT9HWCQ=

    + Attributes (Get OTP 2.5  Apollo MunichRequest)

    + Body

            {
                "auaCode": "0003080000",
                "subAuaCode": "0003080000",
                "uid": "9194608999019300",
                "licenseKey": "MPayPwkhHNSpgiHeZSB2dNkio_NJTElXSHWfFUZxi8gsvOMFaObWhQc",
                "txnIdentifier": "AMHI:99909012",
                "version": "2.5",
                "type": "V",
                "timeStamp": "2018-07-03T07:32:00",
                "otpOptions": {
                    "otpChannel": "01"
                }
            }


+ Response 200 





# Data Structures

## Authentication API 2.5  AMHIRequest (object)


### Properties
+ `auaCode`: `0003080000` (string, required) 
+ `subAuaCode`: `0003080000` (string, required) 
+ `aadharNumber`: `924603845503` (string, required) 
+ `licenseKey`: `MPayPwkhHNSpgiHeZSB2dNkio_NJTElXSHWfFUZxi8gsvOMFaObWhQc` (string, required) 
+ `terminalId` (string, required) 
+ `transactionIdentifier`: `AMHI:12345673413434` (string, required) 
+ `uses`: `AMHI:12345673413434` (Uses, required) 
+ `rc`: `Y` (string, required) 
+ `metaData`: `Y` (MetaData, required) 
+ `version`: `2.5` (string, required) 
+ `personalIdentityData`: `2.5` (PersonalIdentityData, required) 


## Uses (object)


### Properties
+ `pi`: `y` (string, required) 
+ `pa`: `y` (string, required) 
+ `pfa`: `n` (string, required) 
+ `bio`: `n` (string, required) 
+ `pin`: `n` (string, required) 
+ `otp`: `n` (string, required) 


## MetaData (object)


### Properties
+ `rdsId` (string, required) 
+ `rdsVer` (string, required) 
+ `dpId` (string, required) 
+ `dc` (string, required) 
+ `mi` (string, required) 
+ `mc` (string, required) 


## PersonalIdentityData (object)


### Properties
+ `timeStamp`: `7/2/2018 7:34:01 PM` (string, required) 
+ `version`: `2.0` (string, required) 
+ `wadh` (string, required) 
+ `demographicDetails` (DemographicDetails, required) 


## DemographicDetails (object)


### Properties
+ `lang` (string, required, nullable) 
+ `personalIdentity` (PersonalIdentity, required) 
+ `personalAddress` (PersonalAddress, required) 
+ `personalFullAddress` (PersonalFullAddress, required) 


## PersonalIdentity (object)


### Properties
+ `matchStrategy`: `E` (string, required) 
+ `matchValue`: `100` (string, required) 
+ `name`: `NIKHIL SANJAY NARKHEDKAR` (string, required) 
+ `lname` (string, required, nullable) 
+ `lmv` (string, required, nullable) 
+ `gender`: `M` (string, required) 
+ `dateOfBirth`: `1989-04-24` (string, required) 
+ `dateOfBirthType` (string, required, nullable) 
+ `age` (string, required, nullable) 
+ `phone` (string, required, nullable) 
+ `email` (string, required, nullable) 


## PersonalAddress (object)


### Properties
+ `matchStrategy`: `E` (string, required) 
+ `careOf` (string, required, nullable) 
+ `houseNo` (string, required, nullable) 
+ `street` (string, required, nullable) 
+ `landMark` (string, required, nullable) 
+ `location` (string, required, nullable) 
+ `villageTownCity` (string, required, nullable) 
+ `subDist` (string, required, nullable) 
+ `dist` (string, required, nullable) 
+ `state` (string, required, nullable) 
+ `country` (string, required, nullable) 
+ `postalCode`: `411061` (string, required) 
+ `postOffice` (string, required, nullable) 


## PersonalFullAddress (object)


### Properties
+ `matchStrategy` (string, required, nullable) 
+ `matchValue` (string, required, nullable) 
+ `addressValue` (string, required, nullable) 
+ `lav` (string, required, nullable) 
+ `lmv` (string, required, nullable) 


## OTP eKYC 2.5 .  AMHIRequest (object)


### Properties
+ `auaCode`: `0003080000` (string, required) 
+ `subAuaCode`: `0003080000` (string, required) 
+ `aadharNumber`: `9194608999019300` (string, required) 
+ `licenseKey`: `MPayPwkhHNSpgiHeZSB2dNkio_NJTElXSHWfFUZxi8gsvOMFaObWhQc` (string, required) 
+ `transactionIdentifier`: `UKC:AMHI:99909012` (string, required) 
+ `terminalId` (string, required) 
+ `type`: `V` (string, required) 
+ `uses`: `V` (Uses, required) 
+ `rc`: `Y` (string, required) 
+ `metaData`: `Y` (MetaData, required) 
+ `version`: `2.5` (string, required) 
+ `personalIdentityData`: `2.5` (PersonalIdentityData11, required) 
+ `kycAttributes`: `2.5` (KycAttributes, required) 


## PersonalIdentityData11 (object)


### Properties
+ `timeStamp`: `7/3/2018 7:33:01 AM` (string, required) 
+ `version`: `2.0` (string, required) 
+ `wadh` (string, required) 
+ `pinValue` (PinValue, required) 


## PinValue (object)


### Properties
+ `otp`: `677702` (string, required) 


## KycAttributes (object)


### Properties
+ `ver`: `2.5` (string, required) 
+ `ra`: `O` (string, required) 
+ `rc`: `Y` (string, required) 
+ `lr`: `N` (string, required) 
+ `de`: `Y` (string, required) 
+ `pfr`: `N` (string, required) 


## Biometric eKYC  Apollo MunichRequest (object)


### Properties
+ `auaCode`: `0003080000` (string, required) 
+ `subAuaCode`: `0003080000` (string, required) 
+ `aadharNumber`: `924603845503` (string, required) 
+ `licenseKey`: `MPayPwkhHNSpgiHeZSB2dNkio_NJTElXSHWfFUZxi8gsvOMFaObWhQc` (string, required) 
+ `transactionIdentifier`: `UKC:AMHI:77777` (string, required) 
+ `type`: `A` (string, required) 
+ `terminalId`: `registered` (string, required) 
+ `uses`: `registered` (Uses15, required) 
+ `rc`: `Y` (string, required) 
+ `metaData`: `Y` (MetaData, required) 
+ `version`: `2.5` (string, required) 
+ `hmac`: `oLv93YLGClweyUo0JFitYKyHUIL2pGHFGs15f7lgIrRjeKa6/rHxIpGb5j/KQfJD` (string, required) 
+ `skey`: `oLv93YLGClweyUo0JFitYKyHUIL2pGHFGs15f7lgIrRjeKa6/rHxIpGb5j/KQfJD` (Skey, required) 
+ `data`: `oLv93YLGClweyUo0JFitYKyHUIL2pGHFGs15f7lgIrRjeKa6/rHxIpGb5j/KQfJD` (Data, required) 
+ `kycAttributes`: `oLv93YLGClweyUo0JFitYKyHUIL2pGHFGs15f7lgIrRjeKa6/rHxIpGb5j/KQfJD` (KycAttributes, required) 


## Uses15 (object)


### Properties
+ `pi`: `n` (string, required) 
+ `pa`: `n` (string, required) 
+ `pfa`: `n` (string, required) 
+ `bio`: `y` (string, required) 
+ `pin`: `n` (string, required) 
+ `otp`: `n` (string, required) 
+ `bt`: `FMR` (string, required) 


## Skey (object)


### Properties
+ `ci`: `20201030` (string, required) 
+ `value`: `DQ7vZiVID8N2v8uqebIAUTL/ywzMdapshP/I9U9A4fAhfc1x4I2Ycf8qp/f63qHicnuegVWEeW/ZdvD2EUUdciMPdbBTCJ4ArOOdgr43UaSMfzWht0UAsO/bk4+RL+6eIAsSQph/hdqnIT+ng2zS6QRqBhYpoLPFWWIwv3cQgnDa2gp5HiPUGsZCVd4i5ZpJx8osMyf6YF8GpfIfpvuiR+bXVzL8MMyF378rml9RIx9jZeGGB9uhALcHzIL30Q6PBCtUbF74DJMEMGkzbUkst+qbkMdlnGQqOIQ4NF7Ul1Qb6I80z7FXBUNsH4mtUMwQERGu7MYO0C2ri4mweNdokQ==` (string, required) 


## Data (object)


### Properties
+ `type`: `X` (string, required) 
+ `value`: `MjAxOC0wNi0yNlQxMzowNjozMGFZcS5sJvsVV1ocqcQ2ovlopi/8/gdgub0Y1IQ1djSPnf1k8bTsuQ+KLU6Qkdr4iFOS7lUmGuDOm8THcceFRaU7k/Fy6F59uPBIars/hWBF+Waif4deJB07YFUX3+v6FppKrRXPAX+n5SWUf6ldU1eyP1bP1IZcoA/Ohy5CuEJdxP+nvfz+qq9nKsS7u15/54Gbjc/W9rP37eRDM6n87TXldpxEXOkC14WRq92Wn0VzWlHz6l6xaHkqynXXoxUyJzA34qKJtn21uspJZnX7nnFNdJdk75OXWt4oXgZq9NOmDWRApUimHLnKcO0RzquY4V3E/NWIzBY3s9eiBZjd+pc3GTNBmupr9YAa3eqjRB0VwtxKzXcsqPryWUkPb3XqIukyZp6dwPtHMwit70GzelGzsC1eL0ufrsIRh3L6d74az0kyOUh+Cjyq0oYaaVtWVR0L9zzoKZ7OyQE9yV6dVe1lzLVGUUosatzQF7tT7b3SB7jZXJd1sJpma1CQeK9QQk8FSwLeEFRrScuOVkMciwlNEcooCuOrUvT5biXRT8lpdA8r/aKh3iLw9tFwFaY6vAyasVHOKICfZUVj3XFNuq4SFsbw4WfuY0P1C/dxC0B8WKLcjxw6hreEqJ3gj0JOCXN6Pk5McwwYY+1W8nkFkTpNOqJJvFzlVhjNTSKCGtzkQi/n6TZGY8XEdopc+0b6JPAlyWSmXtzkclm1Nqe7/oWgzP24wLf8enu34/wjBfDDunSEdoz7IQNmqn2lGGhY/b0wXVG/+7fxa2D8y+P9htjVpFuWfhfw11I7ylG6md3+HSIp4jMkEiVzEA1rvciAQrp9sjZAEpr/GfluNfqFY0VaGRzCREWy/4QWB/e1hAnmxpsjmSUvbr/QdZoC6YRvHcnN1d8pX85adqoidLI9FwSpaenpGUEjL+WAhKPAhjzDEfE66TYyVBZhLyiKRt8ZZMVzqaqAInRXdIPaTDMWNH7fUrip1bjPmGdZAEy4H81mtSLO7YhaG46R1SIZu/8XPi5kEXZnLz9IANMWc+oTcTW8wPa13mzhmK9GVu8H5D1UqLe8QP01NrFQBvZzPDy5hwLIQabEJLzCSHTd7opaUU2KkdThSbyE5C5G4lUpZMRaSGhfowymFxoZTanjyhdhJ1keodsjE4XTnuOYpCxnhg==` (string, required) 


## Get OTP 2.5  Apollo MunichRequest (object)


### Properties
+ `auaCode`: `0003080000` (string, required) 
+ `subAuaCode`: `0003080000` (string, required) 
+ `uid`: `9194608999019300` (string, required) 
+ `licenseKey`: `MPayPwkhHNSpgiHeZSB2dNkio_NJTElXSHWfFUZxi8gsvOMFaObWhQc` (string, required) 
+ `txnIdentifier`: `AMHI:99909012` (string, required) 
+ `version`: `2.5` (string, required) 
+ `type`: `V` (string, required) 
+ `timeStamp`: `7/3/2018 7:32:00 AM` (string, required) 
+ `otpOptions`: `7/3/2018 7:32:00 AM` (OtpOptions, required) 


## OtpOptions (object)


### Properties
+ `otpChannel`: `01` (string, required) 

